<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Weather app</title>
</head>
<body>
    <div class="container">
        <div class="main">
            <h1>Weather Update</h1>
            <form action="/" method="POST">
                <input type="text" placeholder="Enter City" name="city" /> <br><br>
                <button type="submit" class="button">Get Weather</button>
            </form>
            <% if (typeof weatherData !== 'undefined') { %>
                <h2>Weather in <%= weatherData.name %></h2>
                <p><strong>Temperature:</strong> <%= weatherData.main.temp %>°C</p>
                <p>The weather is <%=weatherData.weather[0].main %> </p>
               
            <% } %>
            
        </div>
    </div>
    
</body>
</html>